.home-container {
  padding: 10px;
  font-size: 23px;
  text-align: center;
}

.base-card {
  border-radius: 10px;
  margin: 10px auto;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background-color: #00285f;
}

.home-content-container {
  color: #fff;
}

.home-content-container h1 {
  padding: 35px 15px 10px 15px;
  font-size: 1em;
}

.home-content-container p {
  font-size: 0.6em;
  padding: 10px 30px 20px;
}

.home-image-container {
  padding: 0 28px;
}

.home-image-container img {
  padding-top: 60px;
  width: 100%;
  height: auto;
}

.nav-card {
  background-color: #ededed;
  flex: 1;
  padding: 25px 0;
}

.nav-card a {
  background-color: #00285f;
  color: #fff;
  font-size: 0.5em;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  border: 2px solid transparent;
}

.nav-card a:hover {
  background-color: #cbced3;
  color: #00285f;
  border: 2px solid #00285f;
}

.nav-card p {
  color: #585858;
  font-size: 0.6em;
  padding-top: 15px;
  margin: 0;
}

@media (min-width: 576px) {
  .home-container {
    padding: 15px;
    font-size: 35px;
  }

  .home-content-container h1 {
    width: 500px;
    margin-bottom: 25px;
    margin: auto;
  }

  .home-content-container p {
    width: 500px;
    margin-bottom: 30px;
    margin: auto;
  }

  .home-image-container img {
    width: 500px;
  }

  .link-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
  }
}

@media (min-width: 768px) {
  .home-image-container {
    padding: 30px 20px 0px;
  }

  .home-content-container {
    padding: 20px 20px 100px 20px;
  }

}

@media (min-width: 992px) {
  .home-container {
    font-size: 38px;
    padding: 20px;
  }

  .home-image-container {
    padding: 0px 20px;
  }

  .home-image-container img {
    width: 500px;
  }

  .home-content-container {
    padding: 0 20px 20px 20px;
  }

  .home-content-container h1 {
    width: 500px;
  }

  .home-content-container p {
    margin-bottom: 70px;
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .home-card {
    flex-direction: row;
    justify-content: center;
  }

  .home-content-container {
    display: flex;
    text-align: left;
    align-content: center;
    flex-flow: wrap;
    height: 470px;
    width: 550px;
  }

  .home-content-container h1 {
    margin: 0px;
    padding: 0px;
  }

  .home-content-container p {
    margin: 0px;
    padding: 0px;
  }

  .home-image-container {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .home-image-container img {
    width: 450px;
    padding-top: 0;
  }
}
