.home-container {
    padding: 10px;
    font-size: 23px;
    text-align: center;
}

.base-card {
    border-radius: 10px;
    margin: 10px auto;
}

.home-card {
    display: flex;
    flex-direction: column-reverse;
    background-color: #00285F;
}

.home-content-container {
    color: #FFF;
}

.home-content-container h1 {
    padding: 35px 15px 10px 15px;
    font-size: 1em;
}

.home-content-container p {
    font-size: 0.6em;
    padding: 10px 30px 20px;
}

.home-image-container {
    padding: 0 28px;
}

.home-image-container img {
    padding-top: 60px;
    width: 100%;
    height: auto;
}

.nav-card {
    background-color: #EDEDED;
    padding: 30px 0;
}

.nav-card a {
    background-color: #00285F;
    color: #FFF;
    font-size: 0.5em;
    font-weight: 700;
    padding: 12px 35px;
    border-radius: 5px;
    text-transform: uppercase;
}

.nav-card p {
    color: #585858;
    font-size: 0.6em;
    padding-top: 15px;
    margin: 0;
}

