.main-nav {
    padding-left: 10px;
    min-height: 70px;
}

.nav-log-text, .nav-log-text:hover {
    color: #00285F;
}

.main-menu a.active {
    font-weight: 700;
}

.main-menu a:hover {
    font-weight: 700;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-around; 
}

.navbar-toggler {
    color: #00285F;
}

@media (min-width: 576px) {
    .nav-log-text h4 {
        font-size: 1.6em;
    }
}

@media (min-width: 768px) {
    .main-nav {
        padding-left: 30px;
    }

    .nav-log-text h4 {
        font-size: 1.8em;
    }
}

@media (min-width: 992px) {
    .nav-log-text h4 {
        font-size: 1.8em;
    }
}


