.search-container {
  margin: 10px;
  padding: 20px;
  flex: 1;
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}

.text-input {
  border: none;
  border-radius: 5px 0px 0px 5px;
  height: 40px;
  flex: 5;
  padding: 4px 5px;
}

.btn-container {
  background-color: #00285f;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  font-size: 12px;
  padding: 10px 12px;
  height: 40px;
  flex: 1;
  max-width: fit-content;
}

@media (min-width: 576px) {
  .btn-container {
    padding: 10px 60px;
  }
}

@media (min-width: 768px) {
  .btn-container {
    padding: 10px 70px;
  }
}
